# Pandas Library Installation

In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
# For excel export via Pandas DataFrame
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [3]:
!pip show pandas

Name: pandas
Version: 2.1.1
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
All rights reserved.

Copyright (c) 2011-2023, Open source contributors.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of the copyright holder nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Location: /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by:

# Python Dependencies Installer

In [4]:
!pip3 --version

pip 23.2.1 from /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages/pip (python 3.11)

In [5]:
!pip --version

pip 23.2.1 from /Users/yogicrhamadianto/.pyenv/versions/3.11.6/lib/python3.11/site-packages/pip (python 3.11)

# Pandas Library Usage

In [6]:
import pandas as pd

In [7]:
product_data = pd.read_csv('./products.csv')
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,92.652563,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,24.719661,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,15.897600,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

# Select columns or attributes of table

In [8]:
product_data[['id','cost']]

          id       cost
0      27569  92.652563
1      27445  24.719661
2      27457  15.897600
3      27466  17.850000
4      27481  29.408001
...      ...        ...
29115   1993  22.150999
29116   2062  18.973360
29117   2308   9.028020
29118   1852  17.674240
29119   2296  17.533261

[29120 rows x 2 columns]

In [9]:
# By Index
product_data.loc[0]

id                                                                 27569
cost                                                           92.652563
category                                                            Swim
name                      2XU Men's Swimmers Compression Long Sleeve Top
brand                                                                2XU
retail_price                                                  150.410004
department                                                           Men
sku                                     B23C5765E165D83AA924FA8F13C05F25
distribution_center_id                                                 1
Name: 0, dtype: object

# Filter the data based on certain values or conditions

In [10]:
selected = product_data.query("cost > 100")
selected

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
178,27821,119.394034,Swim,Finis Men's Hydrospeed Velo Jammer Swimsuit,FINIS,199.990005,Men,FBABBE3076A43F86B9B6D4CDA87A4F57,3
385,28112,166.368944,Swim,Zoot Sports Men's Ultra Speedzoot Swim Race Suit,Zoot,274.989990,Men,A311DD84030F32EA6E0550B09F5869EB,5
491,27791,160.160001,Swim,Arena Men's Powerskin R-EVO Jammer Race,Arena,260.000000,Men,653408BA8D3FE565F0B8A4B8AA123012,6
847,28160,116.017000,Swim,Quiksilver Men's Reactor Xplosive Boardshorts,Quiksilver,199.000000,Men,4E8E25B6B415F4026F6FD44B5DDD7C76,9
866,28159,103.032000,Swim,Vilebrequin Swim Trunks XXX-Large 3X Turtle Pr...,VILEBREQUIN,159.000000,Men,F60749FA4CEE4F9DFE786ABA9D7BE0DA,9
...,...,...,...,...,...,...,...,...,...
28224,4200,101.002398,Jumpsuits & Rompers,WHAT GOES AROUND COMES AROUND Women's Racquel ...,What Goes Around Comes Around,201.199997,Women,86DBA86754C0AD93997A11FA947D97B2,10
28508,1743,137.280000,Fashion Hoodies & Sweatshirts,Prairie Underground Women's Long Cloak Hoodie,Prairie Underground,264.000000,Women,955A1584AF63A546588CAAE4D23840B3,3
28509,2003,130.464000,Fashion Hoodies & Sweatshirts,Long Le Fay Hoodie in Black by Prairie Undergr...,Prairie Underground,288.000000,Women,A591024321C5E2BDBD23ED35F0574DDE,3
28510,2023,109.750000,Fashion Hoodies & Sweatshirts,Black Cloak Hoodie By Prairie Underground,Prairie Underground,250.000000,Women,5531A5834816222280F20D1EF9E95F69,3
28856,1766,120.506318,Fashion Hoodies & Sweatshirts,FactoryExtreme Arctic Freeze Women's Black Bom...,FactoryExtreme,248.979996,Women,96A93BA89A5B5C6C226E49B88973F46E,7

In [11]:
selected = product_data.query("cost > 100").copy()
selected

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
178,27821,119.394034,Swim,Finis Men's Hydrospeed Velo Jammer Swimsuit,FINIS,199.990005,Men,FBABBE3076A43F86B9B6D4CDA87A4F57,3
385,28112,166.368944,Swim,Zoot Sports Men's Ultra Speedzoot Swim Race Suit,Zoot,274.989990,Men,A311DD84030F32EA6E0550B09F5869EB,5
491,27791,160.160001,Swim,Arena Men's Powerskin R-EVO Jammer Race,Arena,260.000000,Men,653408BA8D3FE565F0B8A4B8AA123012,6
847,28160,116.017000,Swim,Quiksilver Men's Reactor Xplosive Boardshorts,Quiksilver,199.000000,Men,4E8E25B6B415F4026F6FD44B5DDD7C76,9
866,28159,103.032000,Swim,Vilebrequin Swim Trunks XXX-Large 3X Turtle Pr...,VILEBREQUIN,159.000000,Men,F60749FA4CEE4F9DFE786ABA9D7BE0DA,9
...,...,...,...,...,...,...,...,...,...
28224,4200,101.002398,Jumpsuits & Rompers,WHAT GOES AROUND COMES AROUND Women's Racquel ...,What Goes Around Comes Around,201.199997,Women,86DBA86754C0AD93997A11FA947D97B2,10
28508,1743,137.280000,Fashion Hoodies & Sweatshirts,Prairie Underground Women's Long Cloak Hoodie,Prairie Underground,264.000000,Women,955A1584AF63A546588CAAE4D23840B3,3
28509,2003,130.464000,Fashion Hoodies & Sweatshirts,Long Le Fay Hoodie in Black by Prairie Undergr...,Prairie Underground,288.000000,Women,A591024321C5E2BDBD23ED35F0574DDE,3
28510,2023,109.750000,Fashion Hoodies & Sweatshirts,Black Cloak Hoodie By Prairie Underground,Prairie Underground,250.000000,Women,5531A5834816222280F20D1EF9E95F69,3
28856,1766,120.506318,Fashion Hoodies & Sweatshirts,FactoryExtreme Arctic Freeze Women's Black Bom...,FactoryExtreme,248.979996,Women,96A93BA89A5B5C6C226E49B88973F46E,7

In [12]:
selected = product_data[(product_data['cost'] > 100) & (product_data['department'] == 'Men')]
selected

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
178,27821,119.394034,Swim,Finis Men's Hydrospeed Velo Jammer Swimsuit,FINIS,199.990005,Men,FBABBE3076A43F86B9B6D4CDA87A4F57,3
385,28112,166.368944,Swim,Zoot Sports Men's Ultra Speedzoot Swim Race Suit,Zoot,274.989990,Men,A311DD84030F32EA6E0550B09F5869EB,5
491,27791,160.160001,Swim,Arena Men's Powerskin R-EVO Jammer Race,Arena,260.000000,Men,653408BA8D3FE565F0B8A4B8AA123012,6
847,28160,116.017000,Swim,Quiksilver Men's Reactor Xplosive Boardshorts,Quiksilver,199.000000,Men,4E8E25B6B415F4026F6FD44B5DDD7C76,9
866,28159,103.032000,Swim,Vilebrequin Swim Trunks XXX-Large 3X Turtle Pr...,VILEBREQUIN,159.000000,Men,F60749FA4CEE4F9DFE786ABA9D7BE0DA,9
...,...,...,...,...,...,...,...,...,...
12651,17692,104.340000,Fashion Hoodies & Sweatshirts,Vince Mens Wool Cardigan Sweater XX-Large With...,Vince,185.000000,Men,DF1B3E0F19DB0479029D201662517318,6
12760,17106,172.478032,Fashion Hoodies & Sweatshirts,True Religion Men's TRBJ Flatlock Raw Edge Hoodie,True Religion,293.329987,Men,178F90AD542DAA47DEAF9EDEDB5233BA,7
12762,17289,150.771614,Fashion Hoodies & Sweatshirts,True Religion Men's TRBJ Power Through Peace F...,True Religion,293.329987,Men,CA5D8D0BC3E1A9613976FE2E4ADF5649,7
12770,17886,127.854298,Fashion Hoodies & Sweatshirts,FactoryExtreme X-Factor Hoodie Men's Black Bom...,FactoryExtreme,238.979996,Men,4E9682671E5F02AF659A48D15EE19AB2,7
13064,17897,106.088399,Fashion Hoodies & Sweatshirts,Diesel Men's Sheka-s Sweat Shirt,Diesel,205.199997,Men,1E868C65150DFEEED59BECE39216BFE9,10

# Update table values

In [13]:
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,92.652563,Swim,2XU Men's Swimmers Compression Long Sleeve Top,2XU,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,24.719661,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,15.897600,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

In [14]:
product_data.loc[0,['cost','brand']] = [1000, 'Jeans']
product_data.loc[0]

id                                                                 27569
cost                                                              1000.0
category                                                            Swim
name                      2XU Men's Swimmers Compression Long Sleeve Top
brand                                                              Jeans
retail_price                                                  150.410004
department                                                           Men
sku                                     B23C5765E165D83AA924FA8F13C05F25
distribution_center_id                                                 1
Name: 0, dtype: object

In [15]:
baris = [0,1,2]
data = [2000, 5000, 10000]
for index in range(len(baris)):
    product_data.loc[baris[index],['cost']] = [data[index]]
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,2000.000000,Swim,2XU Men's Swimmers Compression Long Sleeve Top,Jeans,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,5000.000000,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,10000.000000,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

In [16]:
baris = [0,1,2]
list(range(len(baris)))

[0, 1, 2]

In [17]:
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
0,27569,2000.000000,Swim,2XU Men's Swimmers Compression Long Sleeve Top,Jeans,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1
1,27445,5000.000000,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1
2,27457,10000.000000,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1

In [18]:
def multiply(number:float) -> float:
    return 1.5 * number

product_data['new_cost'] = product_data['cost'].map(multiply)
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id,new_cost
0,27569,2000.000000,Swim,2XU Men's Swimmers Compression Long Sleeve Top,Jeans,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1,3000.000000
1,27445,5000.000000,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1,7500.000000
2,27457,10000.000000,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1,15000.000000
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1,26.775000
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1,44.112001

In [19]:
product_data['discounted_cost'] = product_data['cost'].map(lambda x: x * (1-0.1))
product_data.head()

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id,new_cost,discounted_cost
0,27569,2000.000000,Swim,2XU Men's Swimmers Compression Long Sleeve Top,Jeans,150.410004,Men,B23C5765E165D83AA924FA8F13C05F25,1,3000.000000,1800.0000
1,27445,5000.000000,Swim,TYR Sport Men's Square Leg Short Swim Suit,TYR,38.990002,Men,2AB7D3B23574C3DEA2BD278AFD0939AB,1,7500.000000,4500.0000
2,27457,10000.000000,Swim,TYR Sport Men's Solid Durafast Jammer Swim Suit,TYR,27.600000,Men,8F831227B0EB6C6D09A0555531365933,1,15000.000000,9000.0000
3,27466,17.850000,Swim,TYR Sport Men's Swim Short/Resistance Short Sw...,TYR,30.000000,Men,67317D6DCC4CB778AEB9219565F5456B,1,26.775000,16.0650
4,27481,29.408001,Swim,TYR Alliance Team Splice Jammer,TYR,45.950001,Men,213C888198806EF1A0E2BBF2F4855C6C,1,44.112001,26.4672

In [20]:
new_product_data = product_data[['id', 'cost','discounted_cost','brand','category']]
new_product_data

,id,cost,discounted_cost,brand,category
0,27569,2000.000000,1800.000000,Jeans,Swim
1,27445,5000.000000,4500.000000,TYR,Swim
2,27457,10000.000000,9000.000000,TYR,Swim
3,27466,17.850000,16.065000,TYR,Swim
4,27481,29.408001,26.467200,TYR,Swim
...,...,...,...,...,...
29115,1993,22.150999,19.935900,Comfort Colors,Fashion Hoodies & Sweatshirts
29116,2062,18.973360,17.076024,Comfort Colors,Fashion Hoodies & Sweatshirts
29117,2308,9.028020,8.125218,Comfort Colors,Fashion Hoodies & Sweatshirts
29118,1852,17.674240,15.906816,DV by Dolce Vita,Fashion Hoodies & Sweatshirts
29119,2296,17.533261,15.779935,Independent Trading Co,Fashion Hoodies & Sweatshirts

# Export the data into certain format

In [21]:
# To Excel (Need to install additional module, "openpyxl")
product_data.to_excel(excel_writer="./updated_products.xlsx", index=False)

In [25]:
# To Excel (Need to install additional module, "openpyxl")
product_data.to_excel(excel_writer="./updated_products_general.xlsx", index=False, float_format="%g")

In [22]:
# To CSV
product_data.to_csv(path_or_buf="./updated_products.csv", index=False)

In [26]:
# To CSV
product_data.to_csv(path_or_buf="./updated_products_general.csv", index=False, float_format="%g")

In [23]:
import os

In [24]:
os.getcwd()

'/Users/yogicrhamadianto/Documents/bootcamp/session_3'